@media (min-width: 320px) and (max-width: 540px) {
  .theme {
    display: none; }
  .escu-title {
    margin: 10px 0px 10px 0px; }
  .escu {
    align-items: center;
    margin: auto; }
  .pilotos {
    border-top: 15px solid #f00;
    border-left: 15px solid #f00;
    border-radius: 10px 0px 0px 10px;
    margin-left: 0px; }
  .endPage__mapa {
    display: none; }
  .circuito__data img {
    width: 12rem; }
  .escu__img img {
    width: 17rem; }
  .escu__pilotos p {
    margin-right: 0px; }
  .fondo {
    display: none; }
  .formContainer .formSection {
    width: 18rem; } }

/* Tablets */
@media (min-width: 541px) and (max-width: 720px) {
  .escu {
    align-items: center;
    border-top: 15px solid #f00;
    border-left: 15px solid #f00;
    border-bottom: 15px solid #f00;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 20px 15px 5px;
    margin: 0px 30px 0px 30px; }
  .pilotos {
    border-top: 15px solid #f00;
    border-left: 15px solid #f00;
    border-radius: 10px 0px 0px 10px; }
  .formSection {
    width: 31rem; }
  .size-border-pilotos {
    width: fit-content; } }

.endPage {
  display: flex;
  flex-direction: column;
  background-color: #15151e;
  border: 2px solid #38383f;
  color: #fff; }
  .endPage__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .endPage__socials {
    display: flex; }
    .endPage__socials > a {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      transition: 0.4s;
      box-shadow: #000 3px 3px 6px 0px, #000 -3px -3px 6px 1px; }
      .endPage__socials > a .primero:hover {
        transform: translateY(-0.625rem); }
      .endPage__socials > a .segundo:hover {
        transform: translateY(-0.625rem); }
      .endPage__socials > a .tercero:hover {
        transform: translateY(-0.625rem); }
  .endPage__mapa {
    display: flex;
    padding: 0.9rem;
    background-color: #222121; }
    .endPage__mapa a:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: #f00; }

.title-main {
  margin: 5px; }

.img-parallax {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/the-f1-drivers-pose-for-the-class-of-2020-photo-on-the-grid-news-photo-1611677220."); }

.theme {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .theme .theme__vid {
    border: 4px solid #21211B;
    border-radius: 17px; }

.newGen {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 0.625rem solid #ff1100;
  border-left: 0.625rem solid #ff1100;
  border-bottom: 0.625rem solid #ff1100;
  border-right: 0px solid #ff1100;
  border-radius: 17px 0px 0px 17px;
  margin: 1.25rem; }
  .newGen .newGen__front {
    padding: 0.625rem;
    margin: 0.625rem;
    border-top: 3px solid #424242;
    border-left: 0px solid #424242;
    border-bottom: 3px solid #424242;
    border-right: 3px solid #424242;
    border-radius: 0px 0.9rem 0px 0.9rem;
    background-color: #e6e4e4;
    height: 25rem;
    max-width: 20rem;
    text-align: center; }
  .newGen .newGen__car {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    margin: 0.625rem;
    border-top: 3px solid #424242;
    border-left: 0px solid #424242;
    border-bottom: 3px solid #424242;
    border-right: 3px solid #424242;
    border-radius: 0px 0.9rem 0px 0.9rem;
    background-color: #e6e4e4;
    width: 20rem; }
  .newGen .newGen__img {
    border: 3px solid #fff;
    border-radius: 3px;
    width: 18.68rem;
    height: 10.5rem;
    align-self: center; }
  .newGen .newGen__info {
    text-align: justify;
    margin-top: 0.9rem;
    display: block; }
    .newGen .newGen__info .newGen__car p {
      margin-top: 0.9rem;
      text-align: justify; }

.bordes {
  border-top: 0.625rem solid #000;
  border-left: 0px solid #000;
  border-bottom: 0px solid #000;
  border-right: 0.625rem solid #000;
  border-radius: 0px 0.625rem 0px 0px;
  padding: 1rem;
  width: 100%; }
  .bordes .seleccion {
    height: 15rem;
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem;
    margin-bottom: 0.625rem; }
    .bordes .seleccion__img-uno, .bordes .seleccion__img-dos {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      border-radius: 0.625rem;
      margin: 5px 0.625rem 5px 0.625rem;
      transition: transform .75s; }
    .bordes .seleccion__img-tres {
      width: 34.1rem;
      height: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      border-radius: 0.625rem;
      margin: 5px 0.625rem 5px 0.625rem;
      transition: transform .75s; }
    .bordes .seleccion__titulo {
      position: absolute;
      color: #fff;
      font-size: 1.25rem;
      left: 0.9rem;
      bottom: 0.9rem; }

.seleccion__img-uno:hover {
  transform: scale(1.15); }

.seleccion__img-dos:hover {
  transform: scale(1.15); }

.seleccion__img-tres:hover {
  transform: scale(1.15); }

.pilotos-titulo {
  margin: 0.625rem 1.25rem 0.625rem 1.25rem;
  padding: 0.625rem;
  font-size: 1.875rem;
  border-top: 0.9rem solid #000;
  border-left: 0px solid #000;
  border-bottom: 0px solid #000;
  border-right: 0.9rem solid #000;
  border-radius: 0px 0.625rem 0px 0px; }

.pilotos {
  border-top: 0.9rem solid #f00;
  border-left: 0.9rem solid #f00;
  border-bottom: 0px solid #f00;
  border-right: 0px solid #f00;
  border-radius: 0.625rem 0px 0px 0.625rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem; }
  .pilotos__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.9rem; }
  .pilotos__info {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    border-bottom: 0.5px solid #000; }
    .pilotos__info .piloto-name p {
      display: inline-block;
      font-size: 1.25rem; }
    .pilotos__info .piloto-pais img {
      width: 3.125rem;
      border: 1px solid #949498;
      border-radius: 3px; }
  .pilotos__img {
    display: flex;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid #000; }
    .pilotos__img .num {
      width: 5rem;
      height: 3rem;
      border: 1px solid #e7e7e7;
      border-radius: 3px;
      margin-right: 0.9rem; }
  .pilotos .pilotos__datos {
    margin-top: 0.9rem;
    padding-bottom: 0.625rem; }

.escu-title {
  margin: 0.625rem 1.875rem 0.625rem 1.875rem;
  padding: 0.625rem;
  font-size: 1.875rem;
  border-top: 0.9rem solid #000;
  border-left: 0px solid #000;
  border-bottom: 0px solid #000;
  border-right: 0rem solid #000;
  border-radius: 0px 0.625rem 0px 0px; }

.escu {
  border-top: 0.9rem solid #f00;
  border-left: 0.9rem solid #f00;
  border-bottom: 0.9rem solid #f00;
  border-right: 0px solid #f00;
  border-radius: 0.625rem 0px 0px 0.625rem;
  margin-right: 1.875rem;
  margin-left: 1.875rem;
  padding: 0px 1.25rem 0.9rem 5px; }
  .escu__container {
    display: flex;
    flex-direction: column;
    padding: 0.625rem; }
  .escu__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #000;
    margin-bottom: 0.625rem; }
    .escu__info .escudo img {
      width: 3.125rem;
      height: 3.125rem; }
  .escu__pilotos p {
    display: inline-block;
    padding: 5px;
    margin-right: 0.625rem;
    border-bottom: 0.5px solid #000;
    border-right: 0.5px solid #000;
    border-bottom-right-radius: 5px;
    text-align: center; }
  .escu .escu__img img {
    margin-top: 0.625rem; }

.titulo {
  margin: 0.625rem 1.875rem 0.625rem 1.875rem;
  padding: 0.625rem;
  font-size: 1.875rem;
  border-top: 0.9rem solid #000;
  border-left: 0px solid #000;
  border-bottom: 0px solid #000;
  border-right: 0rem solid #000;
  border-radius: 0px 0.625rem 0px 0px; }

.circuito {
  border-top: 0.9rem solid #f00;
  border-left: 0.9rem solid #f00;
  border-bottom: 0.9rem solid #f00;
  border-right: 0px solid #f00;
  border-radius: 0.625rem 0px 0px 0.625rem;
  align-items: center;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  padding-bottom: 0.9rem; }
  .circuito .contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.625rem;
    height: fit-content; }
  .circuito__info {
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 0.5px solid #000;
    padding-bottom: 5px; }
    .circuito__info .date-cal {
      display: inline-block; }
    .circuito__info .pais img {
      width: 3.125rem;
      border: 1px solid #949498;
      border-radius: 3px; }
  .circuito__data {
    margin-top: 0.625rem; }
    .circuito__data h2 {
      margin: 0.625rem; }
    .circuito__data p {
      margin-top: 0.625rem; }
    .circuito__data img {
      height: 6rem;
      width: 15rem;
      padding: 0.625rem 0px 0.625rem 0px;
      border-bottom: 0.5px solid #000;
      border-top: 0.5px solid #000; }

.pistas__bordes {
  border-top: 0.625rem solid #000;
  border-right: 0.625rem solid #000;
  border-top-right-radius: 0.625rem;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem; }

.register-site {
  padding: 1.25rem auto;
  margin: 0.625rem 1.25rem 0; }

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  border-radius: 12px 12px 12px 12px;
  margin: 1.5rem auto 1.5rem auto;
  padding: 1.25rem;
  max-width: 63.125rem; }
  .formContainer .formSection {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    width: 30rem; }
    .formContainer .formSection .ingresar, .formContainer .formSection select, .formContainer .formSection input {
      border: solid 1px #15151e;
      border-radius: 0.625rem;
      height: 3.375rem;
      padding: 2px; }
    .formContainer .formSection .date {
      width: 65%; }
    .formContainer .formSection .country {
      width: 70%; }
    .formContainer .formSection-boton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 0.625rem 1.25rem 0px 0px;
      width: 100%; }
      .formContainer .formSection-boton .button {
        width: 12.5rem;
        color: #fff;
        padding: 5px 0.625rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: 2px solid #d90429;
        background: #d90429; }
        .formContainer .formSection-boton .button:hover {
          background: #fff;
          color: #d90429; }

.checkbox {
  width: auto;
  height: auto; }

.pass-titulo {
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 1.25rem; }

.pass-required {
  display: inline-block;
  padding-right: 1.5rem;
  padding-bottom: 8px;
  font-size: 0.9rem; }

@media (min-width: 320px) and (max-width: 540px) {
  .theme {
    display: none; }
  .escu-title {
    margin: 10px 0px 10px 0px; }
  .escu {
    align-items: center;
    margin: auto; }
  .pilotos {
    border-top: 15px solid #f00;
    border-left: 15px solid #f00;
    border-radius: 10px 0px 0px 10px;
    margin-left: 0px; }
  .endPage__mapa {
    display: none; }
  .circuito__data img {
    width: 12rem; }
  .escu__img img {
    width: 17rem; }
  .escu__pilotos p {
    margin-right: 0px; }
  .fondo {
    display: none; }
  .formContainer .formSection {
    width: 18rem; } }

/* Tablets */
@media (min-width: 541px) and (max-width: 720px) {
  .escu {
    align-items: center;
    border-top: 15px solid #f00;
    border-left: 15px solid #f00;
    border-bottom: 15px solid #f00;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 20px 15px 5px;
    margin: 0px 30px 0px 30px; }
  .pilotos {
    border-top: 15px solid #f00;
    border-left: 15px solid #f00;
    border-radius: 10px 0px 0px 10px; }
  .formSection {
    width: 31rem; }
  .size-border-pilotos {
    width: fit-content; } }

* {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: #fff;
  margin: 5px; }

ul {
  list-style: none; }

main {
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif; }

.navLiEnd {
  list-style: none;
  padding: 0.625rem; }

.topPage {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #e21e04;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: space-between; }
  .topPage .textito {
    font-size: 1.25rem; }
  .topPage .element {
    margin-right: 1.25rem; }

.fondo {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background: #fff;
  background: linear-gradient(180deg, #fbfbff 0%, #98989a 39%, #1b1b1b 100%, white 100%); }

.size-border {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  margin-bottom: 5px;
  margin-top: 1.25rem;
  background-color: #ece2e2;
  width: fit-content; }
