.titulo{
  margin: 0.625rem 2rem 0.625rem 2rem;
  padding: 0.625rem;
  font-size: 1.875rem;
  @include bordes ($black, 0.9rem, 0px, 0px, 0.9rem, 0px, 0.625rem, 0px, 0px);
}

.circuito{
  @include bordes ($red, 0.9rem, 0.9rem, 0.9rem, 0px ,0.625rem, 0px, 0px, 0.625rem);
  align-items: center;
  margin: 0rem 2rem 2rem 2rem;
  padding-bottom: 0.9rem;
  .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0.625rem;
    height: fit-content;
  }
  &__info{
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: .5px solid $black;
    padding-bottom: 5px;
    width: 100%;
    .date-cal{
      display: inline-block;
    }
    .pais img{
      width: 3.125rem;
      border: 1px solid #949498;
      border-radius: 3px;
    }
  }
  &__data {
    margin-top: 0.625rem;
    & h2 {
      margin: 0.625rem;
      text-align: center;
    }
    & p {
      margin-top: 0.625rem;
    }
    & img{
      height: 6rem;
      width: 15rem;
      padding: 0.625rem 0px 0.625rem 0px;
      border-bottom: .5px solid $black;
      border-top: .5px solid $black;
    }
  }
}

.pistas__bordes{
  border-top: 0.625rem solid $black;
  border-right: 0.625rem solid $black;
  border-top-right-radius: 0.625rem;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}