
@import 'media';
@import 'var';
@import 'footer';
@import 'index';
@import 'pilotos';
@import 'escu';
@import 'calen';
@import 'regist';
@import 'media';
@import 'helper';

*{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: $white;
  margin: 5px;
  font-weight: bold;
}

a:hover{
  color: black;

}

ul{
  list-style: none;
}

main{
  font-family:$font-main;
  font-family:$font-secun;
}

.navLiEnd{
  list-style: none;
  padding: 0.625rem;
}

.navi{
  background-color: transparent;
}

.topPage {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgb(226, 30, 4);
  color: $white;
  display: flex;
  justify-content: space-between;
  .textito{
    font-size: 1.25rem;
  }
  .element{
    margin-right: 1.25rem;
  }
}

.fondo{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background: $white;
  background: $gradiente;
}

.navbar > .container-fluid{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
}

// .botoncito{
//   // flex-grow: 10;
//   align-self: flex-end
// }


// bordes de las tarjetas
.size-border{
  @include bordes($black,2px,2px,2px,2px,0.625rem,0.625rem,0.625rem,0.625rem);
  margin-bottom: 5px;
  margin-top:1.25rem;
  background-color: rgb(236, 226, 226);
}